.product{
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    margin: 15px;
    text-align: center;
    /* min-width: 100px; */
    padding: 20px;
    max-height: 450;
}
.product__image{
    height: 250px;
    width: auto;
    margin-bottom: 20px;
    max-width: 450px;
}

.product__addBasketButton{
    background: #febd69;
    padding: 3px;
    font-weight: 700;
}

.product__title{
    font-weight: 500;
    text-align: justify;
}
.product__price{
    color: rgb(255, 123, 0);
}